<div class="button-group">
  <button class="button" (click)="lowercase()">LOW</button>
  {{ name$ | async }}
  <button class="button" (click)="uppercase()">UP</button>
</div>

<div class="button-group">
  <button class="button button--full-width" (click)="loadPhoto()">Load Photo</button>
</div>

<ng-container *ngIf="loading$ | async as loading">
  <p *ngIf="loading.pending">Loading...</p>

  <p *ngIf="loading.attempt">
    Connection error. Reconnect attempt {{ loading.attempt }} ...
  </p>

  <p *ngIf="loading.error">Error message: {{ loading.error }}</p>
</ng-container>

<img class="image" *ngIf="photo$ | async as photo" [src]="photo" />
