.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  color: black;
}

.button {
  width: 50px;
  height: 50px;

  &--full-width {
    width: 100%;
  }
}

.input {
  height: 50px;
  text-align: center;
  margin: 20px 0 20px;
}
