<div class="block counter">
  <div class="button-group">
    <button (click)="decrement()">-</button>
    {{ (counter.observable | async)?.present }}
    <button (click)="increment()">+</button>

    <button (click)="undo()" [disabled]="(counter.observable | async)?.past.length - 1 === 0">undo</button>
    <button (click)="redo()" [disabled]="(counter.observable | async)?.future.length === 0">redo</button>
  </div>

  <button (click)="reset()">RESET TO INIT</button>

  <input #input />
  <button (click)="set(input.value)">Set</button>
</div>
