:root {
  --primary-color: #fff;
  --background-color: #e2e2e2;
  --text-color: #2d2d2d;
  --counter-color: lightblue;
  --user-color: lightgrey;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Lato;
  padding: 0;
  margin: 0;
}

.block {
  display: flex;
  flex-direction: column;
  width: 300px;

  margin: 0 auto;
  padding: 24px;

  button,
  input {
    border: 0;
  }

  button.active {
    background-color: lightcoral;
    color: white;
  }

  &.counter {
    background-color: var(--counter-color);
  }

  &.user {
    background-color: var(--user-color);
  }

  & .add-button {
    margin-top: 10px;
    background-color: lightskyblue;
  }

  & .delete-button {
    margin-top: 10px;
    background-color: lightcoral;
  }

  h1 {
    text-align: center;
  }

  .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    color: black;

    button {
      width: 50px;
      height: 50px;
    }
  }

  button,
  input {
    width: 100%;
    height: 50px;
    text-align: center;
  }

  input {
    margin: 20px 0 20px;
  }
}
