.block {
  display: flex;
  flex-direction: column;
  width: 300px;

  margin: 0 auto;
  padding: 24px;

  button,
  input {
    border: 0;
  }

  &.counter {
    background-color: lightblue;
  }

  &.user {
    background-color: lightgrey;
  }

  & .add-button {
    margin-top: 10px;
    background-color: lightskyblue;
  }

  & .delete-button {
    margin-top: 10px;
    background-color: lightcoral;
  }

  h1 {
    text-align: center;
  }

  .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin-bottom: 20px;

    button {
      width: 50px;
      height: 50px;
    }
  }

  button,
  input {
    width: 100%;
    height: 50px;
    text-align: center;
  }

  input {
    margin: 20px 0 20px;
  }
}
